.section_quiz {
  background-color: #161618;
  padding: 20px;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
}

.category {
  background-color: #fff;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  gap: 1rem;
}

.category button {
  width: 10rem;
  padding: 1.2rem;

  border: none;
  border-bottom: 3px solid red;
  color: #fff;
  background-color: #161618;
  transition: all 1s;
}

.category button:hover {
  transform: translateX(1rem);
}

.questions {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  align-items: center;
}

.questions button {
  display: inline-block;
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
}

.questions span {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: red;
}
