.section_questions {
  background-color: #333;
  height: 100vh;
  padding: 5rem;
}

.questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 40rem;
  height: 30rem;
  color: #fff;
  background-color: #2d2d2f;
  padding: 1rem 4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.questionCard p {
  height: 7rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.questionCard ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0;
}

.questionCard ul li {
  min-width: 25rem;
  max-width: 40rem;
  padding: 1rem;
  background-color: #5c5c5d;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.buttonContainer {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.buttonContainer button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.progress {
  width: 30rem;
  height: 1.2rem;
  margin: 0 auto 5rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .section_questions {
    padding: 2rem;
  }

  .questionCard {
    max-width: 100%;
    height: auto;
    padding: 1rem 2rem;
  }

  .questionCard p {
    font-size: 1.5rem;
  }

  .questionCard ul li {
    min-width: 20rem;
  }

  .buttonContainer {
    width: 90%;
    align-items: center;
    gap: 1rem;
  }

  .progress {
    width: 80%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .section_questions {
    padding: 1rem;
  }

  .questionCard {
    padding: 1rem;
  }

  .questionCard p {
    font-size: 1.2rem;
  }

  .questionCard ul li {
    min-width: 20rem;
  }

  .buttonContainer button {
    padding: 0.6rem 1.2rem;
  }

  .progress {
    width: 100%;
    margin-bottom: 1rem;
  }
}
